.item-boxes
{
    display: flex;
    font-size: 0;
    padding: 15px;
}

.item-boxes .item-box
{
    height: 130px;
    width: 33%;
    margin: 10px;
    background-color: lightgrey;
    border: 2px solid #292929;
}

.item-box .item-box-header
{
    height: 30px;
    text-align: right;
}

.item-box-header .header-box
{
    height: 100%;
    width: 30%;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: #59a4e4;
    border: solid black;
    border-width: 0 0 2px 2px;
}

.item-box .item-box-content
{
    font-size: 14px;
    padding: 9px;
}